services:

  bannou:
    depends_on:
      - postgres-db
    environment:
      - TESTING_SERVICE_ENABLED=${TESTING_SERVICE_ENABLED:-false}
      - AUTHORIZATION_SERVICE_ENABLED=${AUTHORIZATION_SERVICE_ENABLED:-false}
      - AUTHORIZATION_TOKEN_SECRET_KEY=${TOKEN_SECRET_KEY}
      - APP_LOGGING_LEVEL=${APP_LOGGING_LEVEL:-Trace}
      - ASPNETCORE_URLS=http://+:80"
      - ASPNETCORE_ENVIRONMENT=development"

  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash provisioning/service-tests.sh

  postgres-db:
    image: postgres
    restart: on-failure
    container_name: postgres-db
    environment:
      DATABASE_PORT: "5432"
      DATABASE_HOST: postgres-db
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    networks:
      - celestial_network

networks:
  celestial_network:
    external:
      name: celestial_network
