services:

  # modifies the monoservice startup to include a bunch of ENVs for testing
  # and telling it wait for backing datastores, etc to start first
  bannou:
    depends_on:
      - account-db
    environment:
      - INTEGRATION_TESTING=true
      - ACCOUNT_DATABASE_USER=${ACCOUNT_DB_USER}
      - ACCOUNT_DATABASE_PASSWORD=${ACCOUNT_DB_PASSWORD}
      - AUTHORIZATION_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - AUTHORIZATION_TOKEN_PRIVATE_KEY=${AUTH_TOKEN_PRIVATE_KEY}
      - CONNECT_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - APP_LOGGING_LEVEL=Debug
      - WEB_HOST_LOGGING_LEVEL=Debug
      - ASPNETCORE_ENVIRONMENT=Development

  # add the CI components to the dapr sidecar attached to the monoservice
  bannou-dapr:
    volumes:
      - "./dapr/components/ci/:/components"

  account-db:
    image: mysql:8.1.0
    environment:
      - MYSQL_DATABASE=accounts
      - MYSQL_USER=${ACCOUNT_DB_USER}
      - MYSQL_PASSWORD=${ACCOUNT_DB_PASSWORD}
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    volumes:
      - account-volume:/var/lib/mysql
      - ./provisioning/mysql:/docker-entrypoint-initdb.d

  # adds a new sidecar to the monoservice, just to run the shell script
  # which CURLs an API to trigger all of the integration tests to run
  bannou-tester:
    image: ubuntu:latest
    network_mode:
      "service:bannou"
    volumes:
      - "../wait-for-health.sh:/wait-for-health.sh"
      - "../service-tests.sh:/service-tests.sh"
    depends_on:
      - bannou
    command: bash -c "/wait-for-health.sh && /service-tests.sh"

  # silence filebeat during CI testing
  filebeat:
    logging:
      driver: none

volumes:
  account-volume:

networks:
  celestial_network:
