services:

  # modifies the monoservice startup to include a bunch of ENVs for testing
  # and telling it wait for backing datastores, etc to start first
  bannou:
    environment:
      - INTEGRATION_TESTING=true
      - AUTHORIZATION_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - AUTHORIZATION_TOKEN_PRIVATE_KEY=${AUTH_TOKEN_PRIVATE_KEY}
      - CONNECT_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - APP_LOGGING_LEVEL=Debug
      - WEB_HOST_LOGGING_LEVEL=Information
      - ASPNETCORE_ENVIRONMENT=Development

  # add the CI components to the dapr sidecar attached to the monoservice
  bannou-dapr:
    volumes:
      - "./components/ci/:/components"

  # adds a new sidecar to the monoservice, just to run the shell script
  # which CURLs an API to trigger all of the integration tests to run
  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - "../service-tests.sh:/service-tests.sh"
    depends_on:
      - bannou
    command: bash service-tests.sh

networks:
  celestial_network:
