version: "3.4"

services:

  # build the monoservice
  bannou:
    image: bannou:latest
    build:
      context: ../
      dockerfile: provisioning/Dockerfile
    volumes:
      - "./certificates:/certificates"
      - "logs-volume:/app/logs/"
    depends_on:
      - placement
    networks:
      - celestial_network

  # attach the dapr sidecar to the monoservice
  bannou-dapr:
    image: "daprio/daprd:edge"
    command: [
      "./daprd",
      "--app-id", "bannou",
      "--app-port", "443",
      "--app-protocol", "https",
      "--dapr-http-port", "3500",
      "--placement-host-address", "placement:50006",
      "--resources-path", "./components"
    ]
    volumes:
      - "./certificates:/certificates"
    environment:
      - "SSL_CERT_DIR=/certificates"
    depends_on:
      - bannou
    network_mode: "service:bannou"

  # placement service for coordinating dapr actors
  placement:
    image: "daprio/placement"
    command: [
      "./placement", "--port", "50006"
    ]
    ports:
      - "50006:50006"
    networks:
      - celestial_network

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.10.4
    command: sh -c "chown root:root /usr/share/filebeat/filebeat.yml && filebeat -e"
    volumes:
      - ./filebeat.console.yml:/usr/share/filebeat/filebeat.yml
      - logs-volume:/app/logs/
    user: root
    environment:
      - "FILEBEAT_INPUTS_PATHS=/app/logs/*"

networks:
  celestial_network:

volumes:
  logs-volume:
