services:

  bannou:
    env_file: ../.env.ci

  # add the CI components to the dapr sidecar attached to the monoservice
  # Use CI components for integration testing
  bannou-dapr:
    volumes:
      - "./dapr/components/ci/:/components"
    restart: "no"

networks:
  celestial_network:
