services:

  bannou:
    environment:
      - TESTING_SERVICE_ENABLED=true
      - ASPNETCORE_URLS=http://+:80"
    command:
      - /bin/bash
      - -c
      - |
        apt-get update
        apt-get upgrade -y
        apt-get install curl -y
        echo "tools installed"
        dotnet bannou-service.dll
