services:

  bannou:
    environment:
      - TESTING_SERVICE_ENABLED=true
      - ASPNETCORE_URLS=http://+:80"

  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    depends_on:
      - bannou
    command:
      - /bin/bash
      - -c
      - |
        apt-get update
        apt-get upgrade -y
        apt-get install curl -y
        echo "tools installed"
        curl --silent --show-error --fail -X GET "127.0.0.1/testing/run/basic"
