services:

  bannou:
    depends_on:
      - postgres
    environment:
      - TESTING_SERVICE_ENABLED=${TESTING_SERVICE_ENABLED:-false}
      - AUTHORIZATION_SERVICE_ENABLED=${AUTHORIZATION_SERVICE_ENABLED:-false}
      - AUTHORIZATION_TOKEN_SECRET_KEY=${TOKEN_SECRET_KEY}
      - APP_LOGGING_LEVEL=${APP_LOGGING_LEVEL:-Trace}
      - ASPNETCORE_URLS=http://+:80"
      - ASPNETCORE_ENVIRONMENT=development"

  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash provisioning/service-tests.sh

  postgres:
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
    network_mode: "service:bannou"

networks:
  celestial_network:
