services:

  # modifies the monoservice startup to include a bunch of ENVs for testing
  # and telling it wait for backing datastores, etc to start first
  bannou:
    depends_on:
      redis-db:
        condition: service_healthy
    environment:
      - INTEGRATION_TESTING=true
      - TESTING_SERVICE_ENABLED=true
      - ACCOUNT_SERVICE_ENABLED=true
      - AUTHORIZATION_SERVICE_ENABLED=true
      - AUTHORIZATION_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - AUTHORIZATION_TOKEN_PRIVATE_KEY=${AUTH_TOKEN_PRIVATE_KEY}
      - CONNECT_SERVICE_ENABLED=true
      - CONNECT_TOKEN_PUBLIC_KEY=${AUTH_TOKEN_PUBLIC_KEY}
      - WEB_HOST_PORT=80
      - APP_LOGGING_LEVEL=Debug
      - WEB_HOST_LOGGING_LEVEL=Information
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Development

  # add the CI components to the dapr sidecar attached to the monoservice
  bannou-dapr:
    volumes:
      - "./components/ci/:/components"

  # adds a new sidecar to the monoservice, just to run the shell script
  # which CURLs an API to trigger all of the integration tests to run
  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash provisioning/service-tests.sh

  # backing datastore for testing accounts- matches CI component
  redis-db:
    image: redis/redis-stack-server:latest
    hostname: account-db
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    ports:
     - "6379:6379"
    networks:
      - celestial_network

networks:
  celestial_network:
