services:

  bannou:
    depends_on:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=celestial_network"
      - "traefik.http.middlewares.auth-prefix.addprefix.prefix=/authorization"
      - "traefik.http.middlewares.connect-prefix.addprefix.prefix=/connect"
      - "traefik.http.services.auth-service.loadbalancer.server.port=80"
      - "traefik.http.services.connect-service.loadbalancer.server.port=80"
      - "traefik.http.routers.auth-service.middlewares=auth-prefix@docker"
      - "traefik.http.routers.auth-service.rule=Host(`auth.${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.auth-service.entrypoints=web,websecure"
      - "traefik.http.routers.auth-service.service=auth-service"
      - "traefik.http.routers.connect-service.middlewares=connect-prefix@docker"
      - "traefik.http.routers.connect-service.rule=Host(`connect.${SERVICE_DOMAIN}`)"
      - "traefik.http.routers.connect-service.entrypoints=web,websecure"
      - "traefik.http.routers.connect-service.service=connect-service"

  traefik:
    image: traefik:v2.5
    command:
      - --api.insecure=true
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certificates:/certs
    networks:
      - default
      - celestial_network

networks:
  celestial_network:
