version: "3.4"

services:

  # build the monoservice
  bannou:
    build:
      context: ../
      dockerfile: provisioning/Dockerfile
    depends_on:
      - placement
    networks:
      - celestial_network

  # attach the dapr sidecar to the monoservice
  bannou-dapr:
    image: "daprio/daprd:edge"
    command: [
      "./daprd",
      "--app-id", "bannou",
      "--app-port", "80",
      "--dapr-http-port", "3500",
      "--placement-host-address", "placement:50006",
      "--resources-path", "./components"
    ]
    environment:
      - "SSL_CERT_DIR=/root/.dotnet/corefx/cryptography/x509stores/my/"
    depends_on:
      - bannou
    network_mode: "service:bannou"

  # placement service for coordinating dapr actors
  placement:
    image: "daprio/dapr"
    command: [
      "./placement", "--port", "50006"
    ]
    ports:
      - "50006:50006"
    networks:
      - celestial_network

networks:
  celestial_network:
