version: "3.4"

services:

  filebeat:
    depends_on:
      - elasticsearch
    volumes:
      - ./filebeat/filebeat.ek.yml:/usr/share/filebeat/filebeat.yml

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.4
    environment:
       - "discovery.type=single-node"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elastic-volume:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9600:9600
    expose:
      - "9200"
    networks:
      - celestial_network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.10.4
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
    networks:
      - celestial_network

networks:
  celestial_network:

volumes:
  logs-volume:
  elastic-volume:
