services:

  # modifies the monoservice startup to include a bunch of ENVs for testing
  # and telling it wait for backing datastores, etc to start first
  bannou:
    depends_on:
      redis-db:
        condition: service_healthy
    environment:
      - INTEGRATION_TESTING=true
      - TESTING_SERVICE_ENABLED=true
      - AUTHORIZATION_SERVICE_ENABLED=true
      - AUTHORIZATION_TOKEN_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JR2ZNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0R05BRENCaVFLQmdRQ3k3MGJrMDlhckNBNWc1UDFNWnJLcWxEcWwNClNSSHVmOUdYWWZydXFGS0VVNUp5ZU9tOThHSmV6WUd6MUxoUlVObFZpSmpmMXltZGVNVzNnUitMQXlVN3JjMlcNCmkvdnNhNmwvcFQ1NW1QWncycG1xZWZlRHFNaVNWanZXQUs3eUI1ck45OFltWlRvVmh2MEVpd2ErQzNDRTNpQkYNCkIzZjhxSkZTUnYrb2cvcUFBUUlEQVFBQg0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t
      - AUTHORIZATION_TOKEN_PRIVATE_KEY=LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQ0KTUlJQ1hRSUJBQUtCZ1FDeTcwYmswOWFyQ0E1ZzVQMU1acktxbERxbFNSSHVmOUdYWWZydXFGS0VVNUp5ZU9tOQ0KOEdKZXpZR3oxTGhSVU5sVmlKamYxeW1kZU1XM2dSK0xBeVU3cmMyV2kvdnNhNmwvcFQ1NW1QWncycG1xZWZlRA0KcU1pU1ZqdldBSzd5QjVyTjk4WW1aVG9WaHYwRWl3YStDM0NFM2lCRkIzZjhxSkZTUnYrb2cvcUFBUUlEQVFBQg0KQW9HQVN5Vkg3YU8xZktCbWdYVEpsOE50ZDB2SEVWRU5rYzdtTTZBM1pQRVZybkwyaHRLV3YyanJ0d3F4Vk5lYQ0KRExSYWdaeGJMMjVLRU5MK25lRkJZUDBTTGprWjAxd1ZiR0pGald6eXNzUk5BSG5xUVBwZnRLTHFXZFlRV04vLw0KY09RQ0hhWFhidTNkSE1lc0FwdGVEdWhTOEdON3gxMmpjZER5QlpEY3JaUFpFczBDUVFEZWJqQm0yWWpvK09qdA0KNm8yWjFTa2djc3hCazFBcXZMQlRvSjRTUEJaYnpjY21EcXZwaURmalVXZWlOWHBPM2xoZWw4YlA2S0RBU3J1VA0KZ0svQnhaN1hBa0VBemZDV2sreWREUjh2SkRCd3BJSnMxeFRYMVhBTkNQUExkYjdjbHQrMlhtQnY0TDh6WHpSWg0KRDNsNTdIZDNtTis5ZVVwYU5UQ2U5UFIyYjV6Y3JxKzA1d0pCQUtYaUw1N0VwV0o2SDkwdmpDTXA0ZDRkUDArNA0KZVpVbDI2ckNvcUNleDEzMy9ZblliMFZmSGE4ZVN0ZWlZbkRuU2FoaU1SZGxPbDJ1WG00SER3eklRVWtDUUR1bw0KUzJhVXI3WkNaMXliYjdZb1ZqRkVSM1g4SExxUUxVdHh1K00wOFZhTHB6MDdCajI1STJlWk1CbXhUZ01LSlpCQw0KV3JsMzJVUnFvUGlhUDArWGROY0NRUURCVkJscmhrV3gwY2s0OWdOZFFTdXpiZ0phRG16M0xaTUFLbVBVWDJ5aw0KdXZzcUw4L3orb05ZVjRQczUzekdSUXpMTEpiWjdMMXlpK3NqQS80dFkweFMNCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0t
      - CONNECT_SERVICE_ENABLED=true
      - CONNECT_TOKEN_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JR2ZNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0R05BRENCaVFLQmdRQ3k3MGJrMDlhckNBNWc1UDFNWnJLcWxEcWwNClNSSHVmOUdYWWZydXFGS0VVNUp5ZU9tOThHSmV6WUd6MUxoUlVObFZpSmpmMXltZGVNVzNnUitMQXlVN3JjMlcNCmkvdnNhNmwvcFQ1NW1QWncycG1xZWZlRHFNaVNWanZXQUs3eUI1ck45OFltWlRvVmh2MEVpd2ErQzNDRTNpQkYNCkIzZjhxSkZTUnYrb2cvcUFBUUlEQVFBQg0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t
      - WEB_HOST_PORT=80
      - APP_LOGGING_LEVEL=Trace
      - WEB_HOST_LOGGING_LEVEL=Debug
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Development

  # add the CI components to the dapr sidecar attached to the monoservice
  bannou-dapr:
    volumes:
      - "./components/ci/:/components"

  # adds a new sidecar to the monoservice, just to run the shell script
  # which CURLs an API to trigger all of the integration tests to run
  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash provisioning/service-tests.sh

  # backing datastore for testing accounts- matches CI component
  redis-db:
    image: redis/redis-stack-server:latest
    hostname: account-db
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    ports:
     - "6379:6379"
    networks:
      - celestial_network

networks:
  celestial_network:
