services:

  bannou:
    depends_on:
      redis-db:
        condition: service_healthy
    environment:
      - TESTING_SERVICE_ENABLED=${TESTING_SERVICE_ENABLED:-false}
      - AUTHORIZATION_SERVICE_ENABLED=${AUTHORIZATION_SERVICE_ENABLED:-false}
      - AUTHORIZATION_TOKEN_SECRET_KEY=${TOKEN_SECRET_KEY}
      - APP_LOGGING_LEVEL=${APP_LOGGING_LEVEL:-Trace}
      - ASPNETCORE_URLS=http://+:80"
      - ASPNETCORE_ENVIRONMENT=development"

  bannou-dapr:
    volumes:
      - "./components/ci/:/components"

  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash sleep 5 && provisioning/service-tests.sh

  redis-db:
    image: redis
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    ports:
     - "6379:6379"
    networks:
      - celestial_network

networks:
  celestial_network:
