services:

  bannou:
    environment:
      - TESTING_SERVICE_ENABLED=true
      - ASPNETCORE_URLS=http://+:80"

  bannou-tester:
    image: ubuntu
    network_mode:
      "service:bannou"
    volumes:
      - ./:/provisioning/
    depends_on:
      - bannou
    command: bash provisioning/service-tests.sh
