openapi: 3.0.3
info:
  title: Game Session Service Configuration
  description: "Configuration schema for Game Session service.\nProperties are bound to environment variables with BANNOU_
    prefix."
  version: 1.0.0
paths: {}
x-service-configuration:
  properties:
    Enabled:
      type: boolean
      description: Enable/disable Game Session service
      default: true
