openapi: 3.0.3
info:
  title: Relationship Service Configuration
  description: "Configuration schema for Relationship service.\nProperties are bound to environment variables with BANNOU_
    prefix."
  version: 1.0.0
paths: {}
x-service-configuration:
  properties:
    Enabled:
      type: boolean
      description: Enable/disable Relationship service
      default: true
