name: 'Integration Tests'

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:

  integration-tests:
    name: Integration Tests
    runs-on: [self-hosted, bannou]
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      ACCOUNT_DB_USER: ${{ secrets.ACCOUNT_DB_USER }}
      ACCOUNT_DB_PASSWORD: ${{ secrets.ACCOUNT_DB_PASSWORD }}
      AUTH_TOKEN_PUBLIC_KEY: ${{ secrets.AUTH_TOKEN_PUBLIC_KEY }}
      AUTH_TOKEN_PRIVATE_KEY: ${{ secrets.AUTH_TOKEN_PRIVATE_KEY }}

    steps:
      - uses: actions/checkout@v3
        name: Checkout Repo

      - name: Set UID and GID
        run: |
          echo "UID=$(id -u)" >> $GITHUB_ENV
          echo "GID=$(id -g)" >> $GITHUB_ENV

      - name: Rebuild Services
        run: docker-compose -p bannou-tests -f "./provisioning/docker-compose.yml" -f "./provisioning/docker-compose.ci.yml" build --no-cache --pull

      - name: Run Integration Tests
        run: docker-compose -p bannou-tests -f "./provisioning/docker-compose.yml" -f "./provisioning/docker-compose.ci.yml" up --exit-code-from=bannou-tester

      - name: Reset Permissions
        if: always()
        run: sudo /usr/bin/chown -R $(id -u):$(id -g) ./provisioning/

      - name: Cleanup
        if: always()
        continue-on-error: true
        run: docker-compose -p bannou-tests -f "./provisioning/docker-compose.yml" -f "./provisioning/docker-compose.ci.yml" down --remove-orphans -v &&
            docker container prune -f &&
            docker image prune -f &&
            docker volume prune -f

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Integration Tests Succeeded'
          description: 'The integration tests have passed successfully.'
          color: '65280' # Green

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Integration Tests Failed'
          description: 'The integration tests have failed. Check the Actions log for more details.'
          color: '16711680' # Red
