name: 'Lint Tests'

on:
  push:

jobs:
  build:
    name: Lint Tests
    runs-on: ubuntu-latest
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Lint Tests
        id: ml
        uses: oxsecurity/megalinter/flavors/dotnet@v8.4.0
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
          ENABLE: EDITORCONFIG
          EDITORCONFIG_EDITORCONFIG_CHECKER_ARGUMENTS: -disable-end-of-line -disable-insert-final-newline -v

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':white_check_mark: The lint tests have passed successfully.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Allowed.svg'

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':x: The lint tests have failed. Check the Actions log for more details.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png'

      - name: Notify Cancelled
        if: cancelled() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':warning: The lint tests have been cancelled.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png'
