name: 'Lint Tests'

on:
  push:

jobs:
  build:
    name: Lint Tests
    runs-on: ubuntu-latest
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run Lint Tests
        id: ml
        # More info at https://megalinter.io/flavors/
        uses: oxsecurity/megalinter/flavors/dotnet@v7.2.0
        env:
          # https://megalinter.io/configuration/
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
          ENABLE: EDITORCONFIG
          EDITORCONFIG_EDITORCONFIG_CHECKER_ARGUMENTS: -disable-end-of-line -disable-insert-final-newline -v

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Lint Tests Succeeded'
          description: 'The lint tests have passed successfully.'
          severity: info

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Lint Tests Failed'
          description: 'The lint tests have failed. Check the Actions log for more details.'
          severity: error
