name: 'Unit Tests'

on:
  push:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      DOTNET_VERSION: '7.0.202'

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install Dependencies
        run: dotnet restore

      - name: Build Application
        run: dotnet build --configuration Release --no-restore

      - name: Run Unit Tests
        run: dotnet test --configuration Development --no-restore --verbosity normal

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Unit Tests Succeeded'
          description: 'The unit tests have passed successfully.'
          color: '65280' # Green

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: rjstone/discord-webhook-notify@v1
        continue-on-error: true
        with:
          webhookUrl: ${{ env.DISCORD_WEBHOOK }}
          username: ${{ github.actor }}
          text: 'Unit Tests Failed'
          description: 'The unit tests have failed. Check the Actions log for more details.'
          color: '16711680' # Red
