name: 'Unit Tests'

on:
  push:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      DOTNET_VERSION: '9.0.x'

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install Dependencies
        run: dotnet restore

      - name: Build Application
        run: dotnet build --configuration Release --no-restore

      - name: Run Unit Tests
        run: dotnet test --configuration Development --no-restore --verbosity normal

      - name: Get Latest Commit Info
        id: commit_info
        run: |
          {
            echo "COMMIT_MESSAGE<<EOF"
            git log -1 --pretty=%B
            echo "EOF"
          } >> $GITHUB_ENV
          echo "COMMIT_AUTHOR=$(git log -1 --pretty=format:'%an')" >> $GITHUB_ENV
          echo "COMMIT_AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')" >> $GITHUB_ENV

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: tsickert/discord-webhook@v7.0.0
        continue-on-error: true
        with:
          webhook-url: ${{ env.DISCORD_WEBHOOK }}
          username: "GitHub Actions"
          content: |
            **:white_check_mark: Unit Tests Passed Successfully**
            - **Action Run:** [View Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            - **Author:** ${{ env.COMMIT_AUTHOR }}
            - **Commit Message:** ${{ env.COMMIT_MESSAGE }}
            [Repository](${{ github.server_url }}/${{ github.repository }})
          avatar-url: "https://commons.wikimedia.org/wiki/File:Allowed.svg"
          embed-title: "Success: Unit Tests"
          embed-url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          embed-description: ":white_check_mark: The unit tests have passed successfully."
          embed-author-name: "${{ env.COMMIT_AUTHOR }}"
          embed-author-icon-url: "https://commons.wikimedia.org/wiki/File:Allowed.svg"
          embed-author-url: "${{ github.server_url }}/${{ github.repository }}"
          embed-footer-text: "Commit Message: ${{ env.COMMIT_MESSAGE }}"
          embed-color: 15430476
          embed-timestamp: "${{ steps.ml.outputs.time }}"

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: tsickert/discord-webhook@v7.0.0
        continue-on-error: true
        with:
          webhook-url: ${{ env.DISCORD_WEBHOOK }}
          username: "GitHub Actions"
          content: |
            **:x: Unit Tests Failed**
            - **Action Run:** [View Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            - **Author:** ${{ env.COMMIT_AUTHOR }}
            - **Commit Message:** ${{ env.COMMIT_MESSAGE }}
            [Repository](${{ github.server_url }}/${{ github.repository }})
          avatar-url: "https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png"
          embed-title: "Failed: Unit Tests"
          embed-url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          embed-description: ":x: The unit tests have failed."
          embed-author-name: "${{ env.COMMIT_AUTHOR }}"
          embed-author-icon-url: "https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png"
          embed-author-url: "${{ github.server_url }}/${{ github.repository }}"
          embed-footer-text: "Commit Message: ${{ env.COMMIT_MESSAGE }}"
          embed-color: 15430476
          embed-timestamp: "${{ steps.ml.outputs.time }}"

      - name: Notify Cancelled
        if: cancelled() && env.DISCORD_WEBHOOK != ''
        uses: tsickert/discord-webhook@v7.0.0
        continue-on-error: true
        with:
          webhook-url: ${{ env.DISCORD_WEBHOOK }}
          username: "GitHub Actions"
          content: |
            **:warning: Unit Tests Cancelled**
            - **Action Run:** [View Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            - **Author:** ${{ env.COMMIT_AUTHOR }}
            - **Commit Message:** ${{ env.COMMIT_MESSAGE }}
            [Repository](${{ github.server_url }}/${{ github.repository }})
          avatar-url: "https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png"
          embed-title: "Cancelled: Unit Tests"
          embed-url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          embed-description: ":warning: The unit tests have been cancelled."
          embed-author-name: "${{ env.COMMIT_AUTHOR }}"
          embed-author-icon-url: "https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png"
          embed-author-url: "${{ github.server_url }}/${{ github.repository }}"
          embed-footer-text: "Commit Message: ${{ env.COMMIT_MESSAGE }}"
          embed-color: 15430476
          embed-timestamp: "${{ steps.ml.outputs.time }}"
