name: 'Unit Tests'

on:
  push:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      DOTNET_VERSION: '8.0.406'

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install Dependencies
        run: dotnet restore

      - name: Build Application
        run: dotnet build --configuration Release --no-restore

      - name: Run Unit Tests
        run: dotnet test --configuration Development --no-restore --verbosity normal

      - name: Notify Success
        if: success() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':white_check_mark: The unit tests have passed successfully.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Allowed.svg'

      - name: Notify Failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':x: The unit tests have failed. Check the Actions log for more details.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png'

      - name: Notify Cancelled
        if: cancelled() && env.DISCORD_WEBHOOK != ''
        uses: Ilshidur/action-discord@v1
        continue-on-error: true
        with:
          webhook: ${{ env.DISCORD_WEBHOOK }}
          username: 'GitHub Actions Bot'
          message: ':warning: The unit tests have been cancelled.'
          avatar_url: 'https://commons.wikimedia.org/wiki/File:Heavy_red_%22x%22.png'
